html {
  background-color: #cebda7;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  font-size: 65px;
}

h3 {

}

a:link {
  color: #000000;
}

a:hover {
  color: #FFFFFF;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
