html {
  background-color: #f9f9f9;
}

body {
  margin: 50px;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px;
  color: #545454;
  text-align: center;
  text-shadow: 4px 4px #e2e1de;
  padding: 20px;
}

p {
  background-color: #e0d6d0;
  font-size: 23px;
  font-family: 'Kumbh Sans', sans-serif;
  line-height: 30px;
  padding: 20px;
}

img {
  background-color: #e0d6d0;
  padding: 15px;
}

/* links */
a:link {
  color: #82615d;
  text-decoration: none;
}

a:visited {
  color: #82615d;
}

a:hover {
  color: #3d3534;
}

/* div for the input forms, it will center the buttons */
div {
  text-align: center;
}

input {
  font-family: 'Josefin Sans', sans-serif;
  color: #f9f9f9;
  background-color: #93635d;
  border: none;
  padding: 15px;
  margin: 0px auto;
  cursor: pointer;
  display:block;
}

input:hover {
  background-color: #594341;
}

/* id for images */
#vannevarImage {
  border-radius: 50%;
  width: 250px;
  height: 290px;
  float: left;
}

#memex {
  width: 300px;
  height: 200px;
  float: right;
}

#bernerimage {
  border-radius: 50%;
  width: 250px;
  height: 300px;
  float: right;
}

#webinfomatic {
  width: 200px;
  height: 300px;
  float: left;
}

#netneutrality {
  width: 220px;
  height: 130px;
  float: right;
}
