/*
For future uses:
font-family: 'DM Serif Text', serif;
font-family: 'Montserrat', sans-serif;
*/
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  background: #e4dede;
}

body {
  margin: 0;
  height: 100%;
}

nav {
  display: flex;
  width: 100%;
  height: 15%;
  background: #b7a49e;
  padding: 5vh;
  align-items: center;
  justify-content: center;
}

/* styling navigation links */
.navLinks {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  padding: 3vw;
}

a.navLinks:visited {
  color: #FFFFFF;
}

a.navLinks:hover {
  color: #383131;
}

a.navLinks.active {
  color: #383131;
}

#centerHeader {
  font-family: 'DM Serif Text', serif;
  font-size: 4vh;
  color: #FFFFFF;
  line-height: 4vh;
}

.promo {
  display: grid;
  grid-template-columns: 65% 27%;
  grid-gap: 10px;
}

.promo2 {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

#promoHeader {
  font-family: 'DM Serif Text', serif;
  font-size: 5vh;
  color: #383131;
  text-align: center;
  width: 100%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.promotionInfo {
  padding: 5vh;
}

.promoPara {
  background-color: #d9ccc9;
  font-family: 'Montserrat', sans-serif;
  font-size: 3vh;
  color: #383131;
  padding: 5vh;
}

.whiteningPromo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#fair {
  max-width: 100%;
  max-height: auto;
  border-radius: 50%;
  box-shadow: 25px 0px #ba9f98, 45px 0px #9e827b, 65px 0px #705650;
  margin-top: 10vh;
  margin-bottom: 3vh;
  margin-left: 2vh;
}

#promoResponse {
  display: none;
  min-width: 10%;
  min-height: 10%;
  max-width: 40%;
  max-height: 40%;
  border-radius: 50%;
  box-shadow: -100px 0px #9e827b, 100px 0px #ba9f98;
  margin-top: 2vh;
  margin-bottom: 2vh;
}


.expand {
  display: grid;
  grid-template-rows: 1;
  margin-left: 5vh;
  margin-right: 5vh;
  margin-bottom: 5vh;
}

/* styling collapsible buttons */
.collapse {
  font-family: 'DM Serif Text', serif;
  background-color: #383131;
  color: #FFFFFF;
  cursor: pointer;
  padding: 20px;
  margin-bottom: 2vh;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 4vh;
  transition: 0.4s;
  margin-bottom: 0;
}

.collapse.active {
  background-color: #a5918a;
}

.collapse:hover {
  background-color: #a5918a;
  transition: background-color 2s ease-out;
}

.collapsePara {
  background-color: #d9ccc9;
  font-family: 'Montserrat', sans-serif;
  font-size: 3vh;
  color: #383131;
  padding: 5vh;
  margin-top: 3vh;
  width: 100%;
}

/* prevents the contents of the sections from overlapping */
.content {
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
}

.content.show {
  max-height: 1000px;
}

.promoVideo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#vox {
  height: 40vh;
  margin-left: 5vh;
  margin-right: 5vh;
  margin-bottom: 5vh;
  border: 2vh solid #383131;
}

/* footer */
footer {
  display: flex;
  width: 100%;
  height: 15%;
  background: #b7a49e;
  padding: 5vh;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  bottom: 0;
}

#footerHeader {
  font-family: 'DM Serif Text', serif;
  font-size: 3vh;
  color: #FFFFFF;
}

/* media query */
/* mainly adjusting element size + getting rid of some images to save space according to browser width*/
@media screen and (max-width: 1100px), screen and (max-height: 500px) {
  #centerHeader {
    display: none;
  }

  nav {
    height: 5%;
  }

  .navLinks {
    font-size: 2vw;
  }

  footer {
    height: 5%;
  }

  #fair {
    display: none;
  }

  .onlyMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #promoResponse {
    display: block;
  }

  .promo {
    grid-template-columns: 1fr;
  }

  .promo2 {
    grid-template-columns: 1fr;
  }

  .promoPara {
    font-size: 2.5vh;
  }

  .collapse {
    font-size: 3vh;
    width: 100%;
    margin-bottom: 2vh;
  }

  .collapsePara {
    width: 100%;
    margin-top: 1vh;
    font-size: 2.5vh;
  }
}
