/*
For future uses:
font-family: 'DM Serif Text', serif;
font-family: 'Montserrat', sans-serif;
*/
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background: #e4dede;
}

body {
  margin: 0;
  height: 100%;
}

nav {
  display: flex;
  width: 100%;
  height: 15%;
  background: #b7a49e;
  padding: 5vh;
  align-items: center;
  justify-content: center;
}

/* styling navigation links */
.navLinks {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  padding: 3vw;
}

a.navLinks:visited {
  color: #FFFFFF;
}

a.navLinks:hover {
  color: #383131;
}

a.navLinks.active {
  color: #383131;
}

#centerHeader {
  font-family: 'DM Serif Text', serif;
  font-size: 4vh;
  color: #FFFFFF;
  line-height: 4vh;
}

.color {
  display: grid;
  grid-template-columns: 40% 57%;
  grid-gap: 10px;
}

#colorHeader {
  font-family: 'DM Serif Text', serif;
  font-size: 5vh;
  color: #383131;
  text-align: center;
  width: 100%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.colorDef {
  padding: 5vh;
}

.colorPara {
  background-color: #d9ccc9;
  font-family: 'Montserrat', sans-serif;
  font-size: 3vh;
  color: #383131;
  padding: 5vh;
}

.colorismImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#shades {
  max-width: 75%;
  max-height: 75%;
  border-radius: 50%;
  box-shadow: -25px 0px #ba9f98, -45px 0px #9e827b, -65px 0px #705650;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 15vh;
}

#shadesResponse {
  display: none;
  min-width: 10%;
  min-height: 10%;
  max-width: 40%;
  max-height: 40%;
  border-radius: 50%;
  box-shadow: -100px 0px #9e827b, 100px 0px #ba9f98;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

/* styling collapsible buttons */
.expand {
  display: grid;
  grid-template-rows: 1;
  margin-bottom: 5vh;
  margin-left: 5vh;
  margin-right: 5vh;
}

.collapse {
  font-family: 'DM Serif Text', serif;
  color: #FFFFFF;
  cursor: pointer;
  padding: 20px;
  margin-bottom: 2vh;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 4vh;
  transition: 0.4s;
}

/* manually changing the color of each individual collapsible section */
#color1{
  background-color: #291709;
}

#color2 {
  background-color: #733f17;
}

#color3 {
  background-color: #b27e62;
}

#color4 {
  background-color: #d49e7b;
}

#color5 {
  background-color: #f2d3b3;
}

#color1:hover, #color2:hover, #color3:hover, #color4:hover, #color5:hover{
  background-color: #a5918a;
  transition: background-color 2s ease-out;
}

#color1.active, #color2.active, #color3.active, #color4.active, #color5.active {
  background-color: #a5918a;
}

.collapsePara {
  background-color: #d9ccc9;
  font-family: 'Montserrat', sans-serif;
  font-size: 3vh;
  color: #383131;
  padding: 5vh;
  margin-top: 1vh;
  width: 100%;
}

/* prevents the contents of the sections from overlapping */
.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 10px;
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
}

.content.show {
  max-height: 1000px;
}

.onlyMedia {
  display: none;
}

#collapseImg1 {
  margin: 5vh;
  max-width: 75%;
  max-height: auto;
  border-radius: 50%;
}

#collapseImg2 {
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 10vh;
  max-width: 50%;
  max-height: auto;
  border-radius: 50%;
  box-shadow: -40px 0px #9e827b, 40px -0px #ba9f98;
}

#collapseImg3 {
  margin-top: 3vh;
  margin-left: 7vh;
  max-width: 60%;
  max-height: auto;
  border-radius: 50%;
}

#collapseImg4 {
  margin: 5vh;
  max-width: 70%;
  max-height: auto;
  border-radius: 50%;
}

#collapseImg5 {
  margin-top: 3vh;
  margin-left: 10vh;
  max-width: 60%;
  max-height: auto;
  border-radius: 50%;
}

/* footer */
footer {
  display: flex;
  width: 100%;
  height: 15%;
  background: #b7a49e;
  padding: 5vh;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  bottom: 0;
}

#footerHeader {
  font-family: 'DM Serif Text', serif;
  font-size: 3vh;
  color: #FFFFFF;
}

/* media query */
/* mainly adjusting element size + getting rid of some images to save space according to browser width*/
@media screen and (max-width: 1100px), screen and (max-height: 500px) {
  #centerHeader {
    display: none;
  }

  nav {
    height: 5%;
  }

  .navLinks {
    font-size: 2vw;
  }

  footer {
    height: 5%;
  }

  .color {
    grid-template-columns: 1fr;
  }

  #shades {
    display: none;
  }

  .onlyMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #shadesResponse {
    display: block;
  }

  .colorPara {
    font-size: 2.5vh;
  }

  .collapse {
    font-size: 3vh;
    width: 100%;
  }

  .collapsePara {
    width: 100%;
    font-size: 2.5vh;
  }

  .content {
    grid-template-columns: 1fr;
  }

  #collapseImg1 {
    display: none;
  }

  #collapseImg2 {
    display: none;
  }

  #collapseImg3 {
    display: none;
  }

  #collapseImg4 {
    display: none;
  }

  #collapseImg5 {
    display: none;
  }

  #rjResponse {
    display: block;
    min-width: 10%;
    min-height: 10%;
    max-width: 20%;
    max-height: 20%;
    border-radius: 50%;
    box-shadow: -60px 0px #9e827b, 60px 0px #ba9f98;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  #amongResponse {
    display: block;
    min-width: 10%;
    min-height: 10%;
    max-width: 20%;
    max-height: 20%;
    border-radius: 50%;
    box-shadow: -60px 0px #9e827b, 60px 0px #ba9f98;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  #facesResponse {
    display: block;
    min-width: 10%;
    min-height: 10%;
    max-width: 20%;
    max-height: 20%;
    border-radius: 50%;
    box-shadow: -60px 0px #9e827b, 60px 0px #ba9f98;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  #familyResponse {
    display: block;
    min-width: 10%;
    min-height: 10%;
    max-width: 20%;
    max-height: 20%;
    border-radius: 50%;
    box-shadow: -60px 0px #9e827b, 60px 0px #ba9f98;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  #quoteResponse {
    display: block;
    min-width: 10%;
    min-height: 10%;
    max-width: 20%;
    max-height: 20%;
    border-radius: 50%;
    box-shadow: -60px 0px #9e827b, 60px 0px #ba9f98;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

}
