/*
For future uses:
font-family: 'DM Serif Text', serif;
font-family: 'Montserrat', sans-serif;
*/
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  background: #e4dede;
}

body {
  margin: 0;
  height: 100%;
}

nav {
  display: flex;
  width: 100%;
  height: 15%;
  background: #b7a49e;
  padding: 5vh;
  align-items: center;
  justify-content: center;
}

/* styling navigation links */
.navLinks {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  padding: 3vw;
}

a.navLinks:visited {
  color: #FFFFFF;
}

a.navLinks:hover {
  color: #383131;
}

a.navLinks.active {
  color: #383131;
}

#centerHeader {
  font-family: 'DM Serif Text', serif;
  font-size: 4vh;
  color: #FFFFFF;
  line-height: 4vh;
}

/* styling help page */
.help {
  display: grid;
  grid-template-columns: 40% 57%;
  grid-gap: 10px;
}

.helpInfo {
  padding: 5vh;
}

#helpHeader {
  font-family: 'DM Serif Text', serif;
  font-size: 5vh;
  color: #383131;
  text-align: center;
  width: 100%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.helpPara {
  background-color: #d9ccc9;
  font-family: 'Montserrat', sans-serif;
  font-size: 3vh;
  color: #383131;
  padding: 5vh;
}

.helpImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.onlyMedia {
  display: none;
}

/* styling for templates */

#compHeader {
  font-family: 'DM Serif Text', serif;
  font-size: 5vh;
  color: #383131;
  text-align: center;
  width: 100%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.help2 {
  display: grid;
  grid-template-columns: repeat(4, 24.5%);
  grid-gap: 10px;
}

.help3 {
  display: grid;
  grid-template-rows: 100%;
}

#speak {
  max-width: 75%;
  max-height: 75%;
  border-radius: 50%;
  box-shadow: -25px 0px #ba9f98, -45px 0px #9e827b, -65px 0px #705650;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 15vh;
}

#speakResponse {
  display: none;
}

.temp {
  background-color: #c1afaa;
  padding: 2vw;
  margin: 5vh;
  box-shadow: 0 4px 8px 0 #b7a49e;
  transition: 0.3s;
}

.temp:hover {
  box-shadow: 0 10px 30px 10px#6d5a59;
}

.tempCaption {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2vh;
  color: #383131;
  line-height: 1.5;
}

.tempCapHeader {
  font-family: 'DM Serif Text', serif;
  color: #383131;
}

.tempLinks {
  text-decoration: none;
}

#tempImg1, #tempImg2, #tempImg3, #tempImg4, #tempImg5, #tempImg6, #tempImg7, #tempImg8 {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

/* footer */
footer {
  display: flex;
  width: 100%;
  height: 15%;
  background: #b7a49e;
  padding: 5vh;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  bottom: 0;
}

#footerHeader {
  font-family: 'DM Serif Text', serif;
  font-size: 3vh;
  color: #FFFFFF;
}
/* media query */
/* mainly adjusting element size + getting rid of some images to save space according to browser width*/
@media screen and (max-width: 1100px), screen and (max-height: 500px) {
  #centerHeader {
    display: none;
  }

  nav {
    height: 5%;
  }

  .navLinks {
    font-size: 2vw;
  }

  footer {
    height: 5%;
  }

  .help {
    grid-template-columns: 1fr;
  }

  .help2 {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .helpPara {
    font-size: 2.5vh;
  }
  .onlyMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #speak {
    display: none;
  }

  #speakResponse {
    display: block;
    min-width: 10%;
    min-height: 10%;
    max-width: 40%;
    max-height: 40%;
    border-radius: 50%;
    box-shadow: -100px 0px #9e827b, 100px 0px #ba9f98;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  #tempImg1, #tempImg2, #tempImg3, #tempImg4, #tempImg5, #tempImg6, #tempImg7, #tempImg8 {
    width: 50%;
    height: 50%;
  }

}
