/*
For future uses:
font-family: 'DM Serif Text', serif;
font-family: 'Montserrat', sans-serif;
*/
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  background: #e4dede;
}

body {
  margin: 0;
  height: 100%;
}

nav {
  display: flex;
  width: 100%;
  height: 15%;
  background: #b7a49e;
  padding: 5vh;
  align-items: center;
  justify-content: center;
}

/* styling navigation links */
.navLinks {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  padding: 3vw;
}

a.navLinks:visited {
  color: #FFFFFF;
}

a.navLinks:hover {
  color: #383131;
}

a.navLinks.active {
  color: #383131;
}

#centerHeader {
  font-family: 'DM Serif Text', serif;
  font-size: 4vh;
  color: #FFFFFF;
  line-height: 4vh;
}

/* overview grid */
.overview {
  display: grid;
  grid-template-columns: repeat(2,2fr);
  grid-gap: 10px;
}

.sectionHeader {
  padding: 5vh;
}

.overviewImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vh;
  margin-left: 10vh;
}

#sellingHeader {
  font-family: 'DM Serif Text', serif;
  font-size: 5vh;
  color: #383131;
  text-align: center;
  width: 100%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 2vh;
}

#headerCaption {
  font-family: 'Montserrat', sans-serif;
  font-size: 2vh;
  color: #383131;
  text-align: center;
  margin-left: 2vh;
  width: 100%;
}

.homepageBtns button{
  cursor: pointer;
  background-color: #383131;
  font-family: 'DM Serif Text', serif;
  font-size: 4vh;
  color: #FFFFFF;
  border: none;
  padding: 20px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 2vh;
  display: block;
  width: 100%;
}

/*
mdn site abt transitions (super helpful):
 https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions
 */
button:hover {
  background-color: #a5918a;
  color: #FFFFFF;
  transition: background-color 2s ease-out;
}

a.homepageBtns {
  color: #FFFFFF;
  text-decoration: none;
}

a.homepageBtns:visited {
  color: #FFFFFF;
}

a.homepageBtns:hover {
  color: #FFFFFF;
}

#ovModel {
  width: 70%;
  height: auto;
  border-radius: 50%;
  box-shadow: 25px 0px #ba9f98, 45px 0px #9e827b, 65px 0px #705650;
}

/* styling for templates */
.overview2 {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  grid-gap: 10px;
}

.temp {
  background-color: #c1afaa;
  margin: 7vh;
  padding: 2vw;
  box-shadow: 0 4px 8px 0 #b7a49e;
  transition: 0.3s;
}

.temp:hover {
  box-shadow: 0 10px 30px 10px#6d5a59;
}

.tempCaption {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2vh;
  color: #383131;
  line-height: 2.0;
}

.tempCapHeader {
  font-family: 'DM Serif Text', serif;
  color: #383131;
}

#tempImg1 {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

#tempImg2 {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

#tempImg3 {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}


/* footer */
footer {
  display: flex;
  width: 100%;
  height: 15%;
  background: #b7a49e;
  padding: 5vh;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  bottom: 0;
}

#footerHeader {
  font-family: 'DM Serif Text', serif;
  font-size: 3vh;
  color: #FFFFFF;
}

/* media query */
/* mainly adjusting element size + getting rid of some images to save space according to browser width */
@media screen and (max-width: 1100px), screen and (max-height: 600px) {
  #centerHeader {
    display: none;
  }

  nav {
    height: 5%;
  }

  .navLinks {
    font-size: 2vw;
  }


  .overview {
    grid-template-columns: 1fr;
  }

  .overview2 {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .overviewImg {
    display: none;
  }

  #sellingHeader {
    margin: 2vh;
  }

  .homepageBtns button{
    font-size: 3vh;
    margin: 2vh;
  }

  #tempImg1 {
    width: 50%;
    height: 50%;
  }

  #tempImg2 {
    width: 50%;
    height: 50%;
  }

  #tempImg3 {
    width: 50%;
    height: 50%;
  }

  footer {
    height: 5%;
  }

}
